*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: 2px solid black;
background-color: black;
color: #515151;
}
body{
	background-color: #FFFFFF;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
h1{
	color:#111010;
	font-weight: bold;
        padding-bottom: 40px;

}
#myNavbar ul li a {
	color: #61122F;
}
#myNavbar ul li {
	font-size: 20px;
}
.navbar-brand{
font-size: 40px;	
}
